
<div *ngIf="authenticationState.initialized">
  <div *ngIf="authenticationState.isAuthenticated">
    <button (click)="logout()">Logout</button>
  </div>
  <div *ngIf="!authenticationState.isAuthenticated">
    <!--<button (click)="authorise()">Register & Login</button>-->
    <a href="/auth">Login</a>
  </div>
</div>

<br />
<br />

<div *ngIf="myProfile">
  You are logged in <b> {{myProfile.userName}}</b>
</div>

<br />
<br />

<div *ngIf="users">
  <p>Users</p>
  <ul>
    <li *ngFor="let user of users">
      {{user.userName}}
    </li>
  </ul>
</div>
